<!-- Blog entry -->
<div
  *ngFor="let article of articles; let photo; of: photos; index as id"
  class="w3-card-4 w3-margin w3-white"
>
  <img
    src="https://picsum.photos/id/{{ article.id }}/800/300"
    alt="Norway"
    style="width:100%"
  />
  <div class="w3-container">
    <h3>
      <b>{{ article.title }}</b>
    </h3>
    <h5>Title description, <span class="w3-opacity">April 2, 2014</span></h5>
  </div>

  <div class="w3-container">
    <p>{{ article.body }}</p>
    <div class="w3-row">
      <div class="w3-col m8 s12">
        <p>
          <button class="w3-button w3-padding-large w3-white w3-border">
            <a [routerLink]="['/articles', id]">READ MORE »</a>
          </button>
        </p>
      </div>
      <div class="w3-col m4 w3-hide-small">
        <p>
          <span class="w3-padding-large w3-right"
            ><b>Comments </b> <span class="w3-badge">2</span></span
          >
        </p>
      </div>
    </div>
  </div>
</div>
