<body class="w3-light-grey">
  <div class="w3-content" style="max-width:1400px">
    <!-- Header -->
    <app-header></app-header>
    <!-- Grid -->
    <div class="w3-row">
      <!-- Blog entries -->
      <div class="w3-col l8 s12">
        <router-outlet></router-outlet>
      </div>
      <!-- Sidebar -->
      <div class="w3-col l4">
        <app-sidebar></app-sidebar>
      </div>
      <!-- END GRID -->
    </div>
    <br />
  </div>
  <!-- Footer -->
  <app-footer></app-footer>
</body>
